* {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}

.logo-image {
    width: 100%;
}

.container {
    height: 80vh;
    margin-top: -3px;
    display: flex;
    justify-content: start;
}

.navbar {
    width: 20vw;
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
}

<<<<<<< HEAD


=======
>>>>>>> main
.navbar li {
    margin-bottom: 3rem;
}

.exercise h1{
    margin-top: 6rem;
    margin-left: 2rem;
    color: #003569;
}

.exercise p {
    margin: 2rem;
}

footer {
    height: 6vh;
    margin-top: 1px;
    background-color: #EE6600;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
}
